/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
// Container
// ----------------------------------------

// Simple Box Tabs
.simple-box-tabs {
    @height: 30px;
    padding-left: 20px;
    height: @height;
    line-height: @height;

    a {
        margin: -3px 8px 0 0;
        padding: 0 20px;
        display: inline-block;
        background: darken(@body-background, 1%);
        .border(@main-border-color);
        .border-top-radius(@main-border-radius);
        font-size: 13px;

        &.active {
            background: #fff;
            border-bottom: 1px solid #fff;
        }

    } // a

} // simple-box-tabs



// Main Simple Box Styles (formerly ".container")
.simple-box {
    border-radius: @main-border-radius;
    border: 1px solid @main-border-color;
    background: #fff;
    padding: 25px 20px 25px;

    .col {
        display: inline-block;
        margin-right: 40px;
        vertical-align: top;
        width: 330px;

        &:last-child {
            margin-right: 0;
            width: 200px;
        }

        > h1 {
            color: darken(@grey, 20%);
            font-size: 23px;
            margin: 10px 0;
        }

        > p {
           line-height: 23px;
           font-size: 12px;
           color: @black-40;
           margin-bottom: 10px;

        }

        // List styling
        ul {
            padding-left: 20px;
            list-style: disc;
            color: @black-20;
        }

        li {
            font-size: 12px;
            line-height: 25px;

            > a {
                margin-right: 5px;

                strong { color: @black-50; }

                &:hover {
                    color: @l-blue;

                    > strong { color: @l-blue; }
                }

            } // > a

        } // li

    } // col

    #tbl-view-controls-container {
        margin-bottom: 0 !important;
    }

} // simple-box
